<form onsubmit="return false;">
	<table border="0" cellspacing="10" cellpadding="0" width="100%">
		<tr>
			<td class='text-muted' align="left" width="200">
				Slug *:
			</td>
			<td align="left">
				<input class="my-input" type="text" name="slug" value="<%- slug %>" maxlength="255" />
			</td>
		</tr>
		<tr>
			<td class='text-muted' align="left">
				Название *:
			</td>
			<td align="left">
				<input class="my-input" type="text" name="name" value="<%- name %>" maxlength="255" />
			</td>
		</tr>
		<tr>
			<td class='text-muted' align="left">
				Заголовок:
			</td>
			<td align="left">
				<input class="my-input" type="text" name="title" value="<%- title %>" maxlength="255" />
			</td>
		</tr>
		<tr>
			<td class='text-muted' align="left" valign="top">
				Описание:
			</td>
			<td align="left">
				<textarea class='my-textarea textarea-block' name="description"><%- description %></textarea>
			</td>
		</tr>
	</table>
	<hr />	
	<div id="btns-cud"></div>
</form>