<form onsubmit="return false;">
	<table border="0" cellspacing="10" cellpadding="0" width="100%">
		<tr>
			<td class='text-muted' align="left" width="200">
				Slug *:
			</td>
			<td align="left">
				<input class="my-input" type="text" name="slug" value="<%- slug %>" maxlength="255" />
			</td>
		</tr>
		<tr>
			<td class='text-muted' align="left">
				Название *:
			</td>
			<td align="left">
				<input class="my-input" type="text" name="name" value="<%- name %>" maxlength="255" />
			</td>
		</tr>
	</table>
	<hr />	
	<div id="btns-cud"></div>
</form>