<form onsubmit="return false;">
	<table border="0" cellspacing="10" cellpadding="0" width="100%">
		<tr>
			<td class='text-muted' align="left" valign="top">
				Статус:
			</td>
			<td align="left">
				<input type="radio" name="status" value="wait" <%- status=="wait"? "checked": "" %> />&nbsp; ожидание
				<br />
				<input type="radio" name="status" value="ok" <%- status=="ok"? "checked": "" %> />&nbsp; выполнено
				<br />
				<input type="radio" name="status" value="no" <%- status=="no"? "checked": "" %> />&nbsp; отказ
			</td>
		</tr>
		<tr>
			<td class='text-muted' align="left">
				IP:
			</td>
			<td align="left">
				<input class="my-input" type="text" value="<%- ip %>" disabled />
			</td>
		</tr>
		<tr>
			<td class='text-muted' align="left">
				Дата создания:
			</td>
			<td align="left">
				<input class="my-input" type="text" value="<%- created_at %>" disabled />
			</td>
		</tr>
		<tr>
			<td class='text-muted' align="left" valign="top" width="200">
				Рекомендация:
			</td>
			<td align="left">
				<textarea class="my-textarea textarea-block" rows="5" name="text"><%- text %></textarea>
			</td>
		</tr>
		<tr>
			<td class='text-muted' align="left" valign="top" width="200">
				Ответ:
			</td>
			<td align="left">
				<textarea class="my-textarea textarea-block" rows="5" name="answer"><%- answer %></textarea>
			</td>
		</tr>
	</table>
	<hr />	
	<div id="btns-cud"></div>
</form>