<form onsubmit="return false;">
	<table border="0" cellspacing="10" cellpadding="0" width="100%">
		<tr>
			<td class='text-muted' align="left" width="200">
				Название *:
			</td>
			<td align="left">
				<input class="my-input" type="text" name="name" value="<%- name %>" maxlength="255" />
			</td>
		</tr>
		<tr>
			<td class='text-muted' align="left">
				Категория:
			</td>
			<td align="left">
				<select class="my-select" name="parent_id">
					<option value="0"></option>
					<% _.each(window.app.col.infoCats.models, function(model, key){ %>
						<% var prefix = ""; %>
						
						<% if(model.has('parent_ids') && model.get('parent_ids').length){ %>
							<% for(var i=0; i < model.get('parent_ids').length; i++){ %>
								<% prefix += "------"; %>
							<% } %>
						<% } %>
					
						<% if(model.get('id') === parent_id){ %>
							<option selected value="<%- model.get('id') %>"><%- prefix + model.get('name') %></option>

						<% } else { %>
							<option value="<%- model.get('id') %>"><%- prefix + model.get('name') %></option>
						<% } %>
					<% }); %>
				</select>
			</td>
		</tr>
		<tr>
			<td class='text-muted' align="left">
				Позиция:
			</td>
			<td align="left">
				<input class="my-input" type="text" name="pos" value="<%- pos %>" maxlength="2" />
			</td>
		</tr>
		<tr>
			<td class='text-muted' align="left" valign="top">
				Описание:
			</td>
			<td align="left">
				<textarea class='my-textarea textarea-block' name="description"><%- description %></textarea>
			</td>
		</tr>
		<tr>
			<td class='text-muted' align="left">
				Скрыт:
			</td>
			<td align="left">
				<input type="checkbox" name="is_hide" <%- is_hide === 1? 'checked': '' %> />
			</td>
		</tr>
	</table>
	<hr />	
	<div id="btns-cud"></div>
</form>