<table cellspacing="0" cellpadding="0" width="100%">
	<tr>
		<td align="right">
			<a class="a-gray-lg a-reverse-line a-change-route pull-right" href="/admin/products/create">Добавить</a>
		</td>
	</tr>
</table>
<br />
<table class="table-zebra" cellspacing="0" cellpadding="0" width="100%">
	<thead>
		<th width="30">Id</th>
		<th width="*">Название</th>
		<th width="100">Ключ</th>
		<th width="200">Категории</th>
		<th width="70">В очереди</th>
		<th width="50">Скрыт</th>
		<th width="150">Дата</th>
		<th width="20"></th>
	</thead>
	<tbody></tbody>
</table>